* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

/* BARRA SUPERIOR DE NAVEGACION */

.conteiner{
    max-width: 1100px;
    margin: 0 auto;
}
.back{
    padding: 38px 0;
    background-color: #0A1847;
}
.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu img{      
    margin-top: 15px;
    margin-left: 40px;
}
.logo{
    font-size: 24px;
    color: #15a4f9;
    font-weight: 800;
    text-transform: uppercase;
}
.menu .navbar ul li{
    position: relative;
    float: left;
}
.menu .navbar ul li a{
    font-size: 18px;
    padding: 10px;
    color: white;
    display: block;
}

#menu{
    display: none;
}
.menu-icono{
    width: 25px;
}
.menu label{
    cursor: pointer;
    display: none;
}
.navbar{
    margin-top: 7px;
    margin-right: 30px;
}

/* CONTENIDO */

.inicio{
    text-align: center;
    background: url(/img/fondoincio.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 50px solid #0A1847;
}
.inicio a{
    
    text-transform: uppercase;
    padding: 15px;
    background-color: #0A1847;
    color: white;
    border-radius: 25px;
    font-weight: 700;
    transition: 0.25s;
}
.inicio a:hover{
    background-color: white;
    color: #0A1847;
    font-weight: 700;
    border-radius: 25px;
    border: #0A1847 solid 1px;
    transition: 0.25s;
}
.imagen{
    padding: 100px;
}
.imagen img{
    width: 500px;
}
.imagen p{
    margin-top: 25px;
    font-size: 12px;
    color: #2C2C2C;
    font-weight: 800;
    margin-bottom: 35px;
    text-transform: uppercase;
}

/* BOTONES */

.navbar a{
    margin-right: 15px;
    transition: 0.5s;
    border-bottom: 1px solid #0A1847;
}
.navbar a:hover{
    border-bottom: 1px solid white;
    transition: 0.5s;
}

/*SLIDER*/

.clientes{
    text-align: center;
    padding: 40px;
    text-transform: uppercase;
    font-weight: 1000;
    font-size: 20px;
}

@keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  .logos {
    overflow: hidden;
    padding: 60px 0;
    background: white;
    white-space: nowrap;
    position: relative;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 25px;
  }
  
  .logos:before,
  .logos:after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
  }
  
  .logos:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
  }
  
  .logos:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
  }
  
.logos:hover .logos-slide {
    animation-play-state: paused;
  }
  
  .logos-slide {
    display: inline-block;
    animation: 35s slide infinite linear;
  }
  
  .logos-slide img {
    height: 50px;
    margin: 0 40px;
  }

  /* FOOTER */
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/*:::::Pie de Pagina*/
.pie-pagina{
    width: 100%;
    background-color: #0A1847;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    font-size: 30px;
    line-height: 45px;
    color: #fff;
    margin-right: 25px;
    background-color: #0A1847;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
}
.pie-pagina .grupo-2{
    background-color: #050c24;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}

@media(max-width: 1500px){
    .logos {
        overflow: hidden;
        padding: 10px 0;
        background: white;
        white-space: nowrap;
        position: relative;
        margin-left: 5px;
        margin-right: 5px;
      }
}
@media(max-width: 700px){
    .menu{
        padding: 15px;
    }
    .menu img{
        margin-top: 5px;
    }
    .menu label {
        display: initial;
    }
    .back{
        padding: 44px 0;
    }
    .navbar{
        margin-top: 0;
    }
    .menu .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: white;
        display: none;
        z-index: 10;

    }
    .menu .navbar ul li a{
        color: #0A1847;
        font-weight: 800;
        text-transform: uppercase;
    }
    .menu .navbar ul li a:hover{
        color: white;
        background-color: #0A1847;
    }
    .menu .navbar ul li{
        width: 100%;
    }
    #menu:checked ~ .navbar{
        display: initial;
    }
    .imagen{
        padding: 60px;
        position: static;
        z-index: 1;
    }
    .imagen img{
        width: 220px;
    }
    .menu-icono{
        margin-right: 35px;
    }
    .imagen p{
        margin-top: 25px;
        font-size: 10px;
        color: #2C2C2C;
        font-weight: 800;
        text-transform: uppercase;
    }
    .navbar{
        margin-right: 0;
    }
    .logos {
        overflow: hidden;
        padding: 10px 0;
        background: white;
        white-space: nowrap;
        position: relative;
        margin-left: 1px;
        margin-right: 1px;
      }
      .logos-slide img {
        height: 40px;
        margin: 0 40px;
      }
      .clientes{
        font-size: 18px;
      }
      .inicio a{
        padding: 10px;
        font-size: 12px;
      }
}
